PORT=3000
MONGODB_URI=mongodb+srv://<username>:<password>@<cluster-url>/opensound?retryWrites=true&w=majority
JWT_SECRET=change-me
JWT_REFRESH_SECRET=change-me-too
ACCESS_TOKEN_TTL=15m
REFRESH_TOKEN_TTL=7d
CORS_ORIGINS=https://opensound.icu,exp://127.0.0.1:19000
